{% extends 'base.html.twig' %}

{% block title %}
    Explorer les films - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/movie/list.css') }}">
{% endblock %}

{% block body %}
    <h1>Explorer les films</h1>

    <div class="movies">
        {% for movie in movies %}
            <a href="#" class="card">
                <div class="card-header">
                    <span class="badge">{{ movie.category.name }}</span>
                    <img src="{{ asset('images/movie-default.jpg') }}" alt="{{ movie.name }}">
                </div>

                <h2>{{ movie.name }}</h2>

                <div class="card-content">
                    {% for crew in movie.crews %}
                        {% if crew.role == 'DIRECTOR' %}
                            <span>{{ crew.person.firstname ~ ' ' ~ crew.person.lastname }}</span>
                        {% endif %}
                    {% endfor %}

                    <span>{{ movie.releasedAt|date('Y') }}</span>
                </div>


            </a>
        {% endfor %}
    </div>
{% endblock %}
