{% extends 'base.html.twig' %}

{% block title %}
    Nouvelle catégorie - {{ parent() }}
{% endblock %}

{% block body %}
    {{ form_start(form) }}

    {{ form_row(form.name) }}

    <button class="btn btn-primary">
        {{ is_new ? 'Créér' : 'Modifier' }}
    </button>
    {{ form_end(form) }}
{% endblock %}
