<header>
    <a href="{{ path('main_index') }}" class="logo">
        <img src="{{ asset('images/logo-filmo.svg') }}" alt="Pélicule de film">
        Filmo
    </a>

    <nav>
        <ul>
            <li>
                <a href="{{ path('movie_list') }}">Liste des films</a>
            </li>
            <li>
                <a href="{{ path('main_contact') }}">Contact</a>
            </li>
            <li>
                <a href="{{ path('main_about') }}">A propos</a>
            </li>
            <li>
                |
            </li>
            {% if app.user %}
                <li>
                    {% if app.user.picture %}
                        <img src="{{ asset('upload/' ~ app.user.picture) }}" alt="Photo de profil" class="profile-picture">
                    {% endif %}
                    {{ app.user.email }}
                </li>
                <li>
                    <a href="{{ path('security_logout') }}">Déconnexion</a>
                </li>
            {% else %}
                <li>
                    <a href="{{ path('security_login') }}">Connexion</a>
                </li>
                <li>
                    <a href="{{ path('security_register') }}">Inscription</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</header>
