<header>
    <a href="{{ path('main_index') }}" class="logo">
        <img src="{{ asset('images/logo-filmo.svg') }}" alt="Pélicule de film">
        Filmo
    </a>

    <nav>
        <ul>
            <li>
                <a href="{{ path('movie_list') }}">Liste des films</a>
            </li>
            <li>
                <a href="{{ path('main_contact') }}">Contact</a>
            </li>
            <li>
                <a href="{{ path('main_about') }}">A propos</a>
            </li>
        </ul>
    </nav>
</header>
